[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
seaborn = "*"
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
plotly-express = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
